<p>
  <strong>Name:</strong>
  <%= @guildapp.name %>
</p>

<p>
  <strong>Class:</strong>
  <%= @guildapp.charclass %>
</p>

<p>
  <strong>Level:</strong>
  <%= @guildapp.level %>
</p>

<p>
  <strong>Discord:</strong>
  <%= @guildapp.discord %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @guildapp.exp %>
</p>

<p>
  <strong>Why Us:</strong>
  <%= @guildapp.whyus %>
</p>

<%= link_to 'Back', guildapps_path %>
